<h2>Estadísticas de la DB:</h2>

Número de preguntas: <%=numeroPreguntas%> </br>
Número de comentarios totales: <%=numeroComentarios%> </br>
Número medio de comentarios por pregunta: <%=mediaComentariosPorPregunta%> </br>
Número de preguntas sin comentarios: <%=preguntasSinComentarios%> </br>
Número de preguntas con comentarios: <%=preguntasConComentarios%>
